certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
decorator==5.1.1
emoji==2.0.0
evdev==1.7.1
future==1.0.0
geocoder==1.38.1
idna==3.10
numpy==2.1.2
plyvel==1.5.1
pynput==1.7.6
python-xlib==0.33
ratelim==0.1.6
requests==2.32.3
reverse_geocoder==1.5.1
scipy==1.14.1
six==1.16.0
urllib3==2.2.3
